<div style="margin: auto; width: 30%; padding: 200px;">
    <mat-card class= "mat-elevation-z8">
        <form class="example-form" >
            <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome do Item</mat-label>
                <input  matInput placeholder="Ex. Pizza" >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descrição</mat-label>
                <input  matInput placeholder="Ex. Pizza de calabresa com azeitona" >
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Valor</mat-label>
                <input  matInput placeholder="Ex. 19,90">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Imagem</mat-label>
                <input  matInput placeholder="Coloque o link da imagem aqui" >
            </mat-form-field>
        </div>

        </form>
    </mat-card>

</div>
