.container {
    position: fixed;
    text-align: left;
    color: white;
}

.centered {
    position: fixed;
    top: 324px;
    left: 960px;
    transform: translate(-50%, -50%);
}

.qrcode {
    position: fixed;
    top: 540px;
    left: 710.4px;
}