<div class="container">
    <img src="assets/banner.jpg" alt="mesa">
    <div class="centered">
        Lorem ipsum dolor sit amet, sed tantas doctus expetendis ea, has in rebum illum iudico, nostro eripuit
        temporibus ad duo. Vide simul cum id, eros tamquam cu nec. Agam veniam nec in. Dolores efficiantur in his, no
        nam homero latine gloriatur, vel assum ludus omnes an. Per no probo facilisi.
        Ea minim sanctus dissentias nec, ea noster labitur evertitur mei. Eligendi detraxit has ut, nec constituam
        appellantur et. Te qui hendrerit reformidans, ex sumo illum minimum ius. Nec quidam bonorum no. Ut mea facer
        primis impetus, usu et quodsi iisque mentitum, iisque patrioque mea id.
        Nec in albucius phaedrum signiferumque. Quod autem dolorum vel et. Minim voluptaria efficiantur cu his. Ut
        congue dictas quaeque qui. Ei sumo omittam accumsan cum, in appareat ponderum sea, tantas contentiones ei pro.
        <br><br>
        Lorem ipsum dolor sit amet, sed tantas doctus expetendis ea, has in rebum illum iudico, nostro eripuit
        temporibus ad duo. Vide simul cum id, eros tamquam cu nec. Agam veniam nec in. Dolores efficiantur in his, no
        nam homero latine gloriatur, vel assum ludus omnes an. Per no probo facilisi.
        Ea minim sanctus dissentias nec, ea noster labitur evertitur mei. Eligendi detraxit has ut, nec constituam
        appellantur et. Te qui hendrerit reformidans, ex sumo illum minimum ius. Nec quidam bonorum no. Ut mea facer
        primis impetus, usu et quodsi iisque mentitum, iisque patrioque mea id.
        Nec in albucius phaedrum signiferumque. Quod autem dolorum vel et. Minim voluptaria efficiantur cu his. Ut
        congue dictas quaeque qui. Ei sumo omittam accumsan cum, in appareat ponderum sea, tantas contentiones ei pro.
    </div>
    <img class="qrcode" src="assets/qrcode2.jpg" alt="qrcode">
</div>