div {
    margin: auto;
    width: 30%;
    padding: 200px;
}
mat-card-title {
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
}
mat-card-subtitle {
    font-size: 15px;
}
th {
    font-size: 15px;
}
td {
    font-size: 15px;
}
table {
    width: 100%;
    margin: auto;
}
mat-card-content {
    text-align: right;
    font-size: 20px;
}

button{
  size: 100px;  
}

section{
    text-align: center;
    
    
}