<div>
    <mat-card class="mat-elevation-z8">
        <mat-card-title> Carrinho </mat-card-title>
        <mat-card-subtitle> Itens adicionados a conta </mat-card-subtitle>
        <table mat-table [dataSource]="dataSource" aria-describedby="Pedidos" matSort>
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef id="nome" mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef id="valor" mat-sort-header> Valor </th>
                <td mat-cell *matCellDef="let element"> R$ {{element.valor | number:'1.2-2'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Selecione a página" showFirstLastButtons>
        </mat-paginator>
        <mat-card-content>
            Total: R$ {{total | number:'1.2-2'}}
        </mat-card-content>
        <section>
            <button mat-raised-button color="warn">Solicitar Garçom</button> 
        </section>
    </mat-card>

</div>