<mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="scale-2">Cardápio Digital</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon class="scale-2">account_circle</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose style="margin-top: 64px;">
        <p><button mat-button color="primary" (click)="close('toggle button')" style="width: 200px;"> Comidas </button>
        </p>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>