.spacer {
    flex: auto;
}

.scale-2 {
    transform: scale(2);
    font-family: 'Oswald', sans-serif;
}

.mat-toolbar {
    position: fixed;
    z-index: 2;
}

.mat-toolbar.mat-primary {
    background-color: #730d0d;
}

.mat-sidenav {
    background-color: #fffae8;
}

.mat-button {
    color: #730d0d;
    font-size: 25px;
    text-align: left;
}

.mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fffae8;
    
}
