.spacer {
    flex: auto;
}

.scale-2 {
    transform: scale(2);
}

.mat-toolbar {
    position: fixed;
    z-index: 2;
}

.mat-toolbar.mat-primary {
    background: #730d0d;
}

.mat-sidenav {
    background: #fff8dc;
}

.mat-button {
    color: #730d0d;
}

.mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
